
html, body {
    height: 100%;
    margin: 0;
    display: flex; 
    flex-direction: column; 
}

.page-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
}


.myfooter {
    margin-top: auto; 
    background-color: #f8f9fa; 
    padding: 10px 0; 
}


.navbar{
    font-family: "Source Code Pro", serif;
}

.main-img{
    width:70px;
    height: auto;
}

.name-forum-cont{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    color:rgba(61, 132, 159, 0.8);
    text-shadow: 2px 2px 4px rgba(34, 92, 115, 0.8);
}

.sign-in-btn, .sign-up-btn{
    background-color:rgba(61, 132, 159, 0.8) ;
    border-radius: 20px;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;

}

.sign-up-btn:hover {
	background: rgb(23, 63, 116);
}
.sign-in-btn:hover{
    background: rgb(23, 63, 116);
}
.sign-in-btn a
{
    color: white !important;
}

.sign-up-btn a{
    color: rgba(215, 232, 239, 0.8) !important;
}

@media (max-width: 528px) {
    .navbar {
        all: unset;
        align-items: center !important;
    }

    .a-cat {
        font-size: 14px !important;
    }

    .sign-in-btn, .sign-up-btn {
        width: 100% !important;
        text-align: center !important;
        padding: 10px !important; 
        font-size: 14px !important;
    }

    .sign-in-btn a, .sign-up-btn a {
        font-size: 14px !important;
    }

    .name-forum-cont {
        display: none !important;
    }

    body{
        background-color: red;
    }
}

