{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main-photo">
        {% if category.category_image %}
                <img src="{{ category.category_image.url }}" alt="{{ category.title }}" class="cat-img">
            {% else %}
                <img src="{% static 'img/images_png/delault_category.png' %}" alt="{{ category.title }}" class="cat-img">
            {% endif %}
    <p>{{category.title}}</p>
</div>
<div class="post-list">
    {% if user.is_authenticated %}
    <a class="plus-post" href="{% url 'add_post' category.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z" />
            <path
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
        </svg>
    </a>
    {% else %}
    <a class="plus-category" href="{% url 'signup' %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
          </svg>
    </a>
    {% endif %}
    {% for post in posts %}
    <a class="post" href="{% url 'full_post' post.id %}">
        <div class="post-author">
            {% if post.author_picture %}
            <img src="{{ post.author_picture }}" alt="{{ post.author.username }}" class="author-img">
            {% else %}
            <div class="author-img-placeholder"></div>
            {% endif %}
            <span class="author-name">{{ post.author.username }}</span>
        </div>
        <p class="post-content">{{ post.content }}</p>
        <p class="likes"><strong>Likes:</strong> {{ post.likes }}</p>
        <p class="posted-on"><em>Posted on {{ post.created_at }}</em></p>
        {% if post.author == request.user or request.user.is_staff %}
        <form method="POST" action="{% url 'delete_post' post.id %}" class="delete-post-form">
            {% csrf_token %}
            <!-- <button type="submit" class="btn btn-danger">Удалить</button> -->
            <button  class="button-delete" type="submit">
                <svg class="trash-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
            </button>
        </form>
        {% endif %}
    </a>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}
</div>

{% endblock %}