{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="full-post">
<div class="post-container">
    <div class="post-header">
        <h2>{{ post.category.title }}</h2>
        <div class="post-author">
            {% if post.author_picture %}
                <img src="{{ post.author_picture }}" alt="{{ post.author.username }}" class="author-img">
            {% else %}
                <img src="{% static 'img/images_png/default_user_image.png' %}" alt="User Image" class="author-img">
            {% endif %}
            <span class="author-name-full">{{ post.author.username }}</span>
        </div>
        <p><small>Posted on: {{ post.created_at|date:"d.m.Y H:i" }}</small></p>
    </div>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="post-likes">
        <button class="like-post" data-post-id="{{ post.id }}">
            ❤ <span id="post-likes-count">{{ post.likes }}</span>
        </button>
    </div>
</div>

<div class="comments-section">
    <h3>Comments:</h3>

    {% for comment in post.comments.all %}
    <div class="comment">
        <p><span class="comment-author">{{ comment.author.username }}</span>:</p>
        <p class="comment-content">{{ comment.content }}</p>
        <div class="comment-likes">
            <button class="like-comment" data-comment-id="{{ comment.id }}">
                ❤ <span id="comment-{{ comment.id }}-likes-count">{{ comment.likes }}</span>
            </button>
        </div>
        <p><small>Created on: {{ comment.created_at|date:"d.m.Y H:i" }}</small></p>

        {% if comment.author == request.user or request.user.is_staff %}
            <form method="POST" action="{% url 'delete_comment' comment.id %}">
                {% csrf_token %}
                <button  class="button-delete">
                    <svg class="trash-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                </button>
            </form>
        {% endif %}

    </div>
    {% empty %}
        <p>No cooments yet. Will be the first!</p>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <div class="new-comment-form">
        <h4>Add comment:</h4>
        <form method="POST" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <textarea name="content" placeholder="Your comment..." required></textarea>
            <button class="add-comment-btn" type="submit">Add comment</button>
        </form>
    </div>
{% else %}
    <p class="sign-in-comment"><a  href="{% url 'login' %}">Sign in</a> to add comment.</p>
{% endif %}
</div>
{% endblock content %}


