{% extends "base.html" %}

{% block content %}
<div class="full-post">
<div class="post-container">
    <div class="post-header">
        <h2>{{ post.category.title }}</h2>
        <div class="post-author">
            {% if post.author_picture %}
            <img src="{{ post.author_picture }}" alt="{{ post.author.username }}" class="author-img">
            {% else %}
            <div class="author-img-placeholder"></div>
            {% endif %}
            <span class="author-name">{{ post.author.username }}</span>
        </div>
        <p><small>Posted on: {{ post.created_at|date:"d.m.Y H:i" }}</small></p>
    </div>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="post-likes">
        <button class="like-post" data-post-id="{{ post.id }}">
            ❤ <span id="post-likes-count">{{ post.likes }}</span>
        </button>
    </div>
</div>

<div class="comments-section">
    <h3>Comments:</h3>

    {% for comment in post.comments.all %}
    <div class="comment">
        <p><span class="comment-author">{{ comment.author.username }}</span>:</p>
        <p class="comment-content">{{ comment.content }}</p>
        <div class="comment-likes">
            <button class="like-comment" data-comment-id="{{ comment.id }}">
                ❤ <span id="comment-{{ comment.id }}-likes-count">{{ comment.likes }}</span>
            </button>
        </div>
        <p><small>Created on: {{ comment.created_at|date:"d.m.Y H:i" }}</small></p>

        {% if comment.author == request.user or request.user.is_staff %}
            <form method="POST" action="{% url 'delete_comment' comment.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {% endif %}

    </div>
    {% empty %}
        <p>No cooments yet. Will be the first!</p>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <div class="new-comment-form">
        <h4>Add comment:</h4>
        <form method="POST" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <textarea name="content" placeholder="Your comment..." required></textarea>
            <button type="submit">Add comment</button>
        </form>
    </div>
{% else %}
    <p class="sign-in-comment"><a  href="{% url 'login' %}">Sign in</a> to add comment.</p>
{% endif %}
</div>
{% endblock content %}


