{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center m-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            {% if form.instance.user_image %}
            <img src="{{ form.instance.user_image.url }}" alt="User Image" class="img-fluid rounded" width="350">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>User Profile Page</h1>
            <form method='post' action='' enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username : </label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label for="username">Email : </label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label for="first_name">First name :</label>
                    {{ form.first_name }}
                </div>

                <div class="mb-3">
                    <label for="last_name">Last name :</label>
                    {{ form.last_name }}
                </div>

                <div class="mb-3">
                    <label for="date_of_bitrh">Date of birth :</label>
                    {{ form.date_of_bitrh }}
                </div>

                <div class="mb-3">
                    <label for="password">Password :</label>
                    {{ form.password }}
                </div>

                <div class="mb-3">
                    <label for="password2">Password confirmation :</label>
                    {{ form.password }}
                </div>

                <div class="mb-3">
                    <label for="user_image">User image :</label>
                    {{ form.user_image }}
                </div>

                <div class="row-inline">
                    <a class="btn btn-primary" href="{% url 'Start page' %}" role="button">Back to main</a>
                    <button class="btn btn-primary" type="submit">Save Profile</button>
                </div>
                <hr>
                {{fields.errors}}
                <!-- {{form.as_p}} -->
            </form>
        </div>
    </div>
</div>
{% endblock content %}