{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="user-cont container d-flex justify-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            {% if form.instance.user_image %}
                <img src="{{ form.instance.user_image.url }}" alt="User Image" class="img-fluid rounded" width="350">
            {% else %}
                <img src="{% static 'img/images_png/default_user_image.png' %}" alt="User Image" class="img-fluid rounded" width="350">
            {% endif %}
        </div>
        <div class="user-info col-md-8">
            <h1>User Profile Page</h1>
            <form method='post'>
                {% csrf_token %}

                <div class="mb-3">
                    <label class="usr-l" for="username">Username : </label>
                    {{ form.instance.username }}
                </div>

                <div class="mb-3">
                    <label class="usr-l" for="email">Email : </label>
                    {{ form.instance.email }}
                </div>

                <div class="mb-3">
                    <label class="usr-l" for="first_name">First name :</label>
                    {{ form.instance.first_name }}
                </div>

                <div class="mb-3">
                    <label class="usr-l" for="last_name">Last name :</label>
                    {{ form.instance.last_name }}
                </div>

                <div class="mb-3">
                    <label class="usr-l" for="date_of_bitrh">Date of birth :</label>
                    {{ form.instance.date_of_bitrh }}
                </div>

                <div class="row-inline">
                    <a class="btn-back btn btn-primary" href="{% url 'Start page' %}" role="button">Back to main</a>
                    <a class="btn-edit btn btn-primary" href="{% url 'user_profile_edit' user.id %}" role="button">Edit
                        Profile</a>
                </div>
        </div>
        </form>

    </div>
</div>
{% endblock content %}